/*body {
  margin: auto;
  --font-family: Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
  --title-font-family: Poppins, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
}

.App {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

*/

